<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.omz-software.cocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a minimal starting point for a navigation-based application.</string>
	<key>Identifier</key>
	<string>com.omz-software.navigationBasedApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Info.plist</string>
		<string>Prefix.pch</string>
		<string>main.m</string>
		<string>Classes/AppDelegate.h</string>
		<string>Classes/AppDelegate.m</string>
		<string>Classes/RootViewController.h</string>
		<string>Classes/RootViewController.m</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>QuartzCore</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_LDFLAGS</key>
				<string>-ObjC -all_load</string>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>$(BUILT_PRODUCTS_DIR)/usr/local/include</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1,2</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Indicates whether the application should use the Core Data framework for storage.</string>
			<key>Identifier</key>
			<string>coreData</string>
			<key>Name</key>
			<string>Use Core Data</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>false</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Classes/RootViewController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/RootViewController.m</string>
						</dict>
						<key>Classes/RootViewController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/RootViewController.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Prefix.pch</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>Prefix.pch</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/AppDelegate.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/AppDelegate.m</string>
						</dict>
						<key>Classes/AppDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/AppDelegate.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
					</dict>
				</dict>
				<key>true</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>___PROJECTNAMEASIDENTIFIER___.xcdatamodel</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Classes/RootViewController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/RootViewControllerCoreData.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/RootViewController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/RootViewControllerCoreData.m</string>
						</dict>
						<key>Prefix.pch</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>PrefixCoreData.pch</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/AppDelegate.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/AppDelegateCoreData.m</string>
						</dict>
						<key>Classes/AppDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/AppDelegateCoreData.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>___PROJECTNAMEASIDENTIFIER___.xcdatamodel</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Supporting Files</string>
							</array>
							<key>Path</key>
							<string>Model.xcdatamodel</string>
						</dict>
					</dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>Frameworks</key>
							<array>
								<string>CoreData</string>
							</array>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>Universal</string>
			<key>Identifier</key>
			<string>deviceFamily</string>
			<key>Name</key>
			<string>Device Family</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>TARGETED_DEVICE_FAMILY</key>
								<string>1,2</string>
							</dict>
						</dict>
					</array>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>TARGETED_DEVICE_FAMILY</key>
								<string>1</string>
							</dict>
						</dict>
					</array>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>TARGETED_DEVICE_FAMILY</key>
								<string>2</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
